<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "cl.attitude.unmanjar"
		versionCode="5"
		version   = "1.0.4">
	<name>Un Manjar</name>
	<description>
		¡Ahhh un manjar!
	</description>
	<author href="https://www.attitude.cl" email="esteban@attitude.cl">
		Esteban Cuevas
	</author>

	<!--<preference name="phonegap-version" value="3.7.0" />-->
	<preference name="permissions" value="none"/>
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="false" />
	<preference name="show-splash-screen-spinner" value="false" />
	<preference name="auto-hide-splash-screen" value="true" />

	<!-- ios -->
	<preference name="webviewbounce" value="false" />
	<preference name="prerendered-icon" value="false" />
	<preference name="stay-in-webview" value="false" />
	<preference name="ios-statusbarstyle" value="black-opaque" />
	<preference name="exit-on-suspend" value="true" />

	<!-- android -->
	<preference name="android-minSdkVersion" value="14" />
	<preference name="android-installLocation" value="auto" />
	<preference name="KeepRunning" value="true" />

	<!-- ios icons -->
	<icon src="icon.png" />
	<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />

	<!-- android icons -->
	<icon gap:platform="android" gap:qualifier="ldpi" src="www/res/icon/android/icon-36-ldpi.png" />
	<icon gap:platform="android" gap:qualifier="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
	<icon gap:platform="android" gap:qualifier="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
	<icon gap:platform="android" gap:qualifier="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
	<icon gap:platform="android" gap:qualifier="xxhdpi" src="www/res/icon/android/icon-144-xxhdpi.png" />
	<icon gap:platform="android" gap:qualifier="fr-xxhdpi" src="www/res/icon/android/icon-192-xxxhdpi.png" />

	<!-- ios splash -->
	<gap:splash src="splash.png" />
	<gap:splash src="splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="splash/ios/Default_at_2x.png" gap:platform="ios" width="640" height="960" />

	<!-- android splash -->
	<gap:splash src="www/res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:qualifier="ldpi" />
	<gap:splash src="www/res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:qualifier="mdpi" />
	<gap:splash src="www/res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="www/res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="xhdpi" />

	<!--<gap:plugin name="org.apache.cordova.core.Device"/>-->
	<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
	<gap:plugin name="org.apache.cordova.device-motion" version="0.2.10" />
	<gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
	<gap:plugin name="org.apache.cordova.media" version="0.2.13" />
	<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
	<gap:plugin name="nl.x-services.plugins.toast" version="2.0.2" />
	<gap:plugin name="com.danielcwilson.plugins.googleanalytics" version="0.6.1" />
	<gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
	<gap:plugin name="com.simplec.plugins.slowdraw" version="0.1.2" />

	<gap:platform name="android" />
</widget>
